/*body style*/
.user_body_wrap .col-md-4{
    margin-bottom: 30px;
}

.user_body_wrap .src-image {
  display: none;
}

.user_body_wrap .card {
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 0;
  background-color: #284c79;
  color: rgb(136, 172, 217);
}

.user_body_wrap .card .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  z-index: 1;
}
.user_body_wrap .card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.user_body_wrap .card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}

.container-wrap {
    padding: 10px 0px 0px 0px;
    /*height: 100vh;*/
}


.container-wrap ._r_left_side{
    padding: 0px;
}

.btn {
    padding: 5px;
}

.card,
.card-header:first-child{
    border-radius: 0;
}

#modalLoginAvatar .modal-header button,
#login-modal .modal-header button{
    position: absolute;
    right: 20px;
}

#modalLoginAvatar .modal-body p{
    margin-bottom: 0px;
}


/*blog home page body*/

/*home article*/
.home_content_wrap{
  /*margin-right: 15px;*/
  margin-bottom: 40px
}
.home_content_wrap .settings{
  position: absolute;
    right: 3%;
    top: 3%;
    font-size: 18px;
    color: gray;
}
.home_content_wrap .item_head img{
  width: 100%;
  height: 232px;
}
.home_content_wrap .item_body{
  margin: 20px 0;
}
.home_content_wrap .item_body .item_body_head img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.home_content_wrap .item_body .item_body_head .item_body_title p{
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
.home_content_wrap .item_body .item_body_head .item_body_meta p{
  font-size: 14px;
  color: gray;
}
.home_content_wrap .item_body .item_body_content p{
  font-size: 14px;
  color: #777;
}
.home_content_wrap .item_body .item_body_footer{
  font-size: 14px;
  color: gray;
}