/*right sidebar*/

.col-md-2{
    padding-right: 0px;
    padding-left: 0px;
}

.right_sidebar .all-batch ul{
    list-style: none;
    padding-left: 0;
}
.right_sidebar .all-batch .card-header{
    background-color: #3f51b5;
    color:#fff
}
.right_sidebar .all-batch .card-body{
   overflow-y: scroll;
   height: 250px;
   padding: 0;
}

.right_sidebar .all-batch ul>a>li{
    padding: 5px 0 5px 20px;
    border-bottom: 1px solid gray;
}

.right_sidebar .all-batch ul>a>li p{
    margin-bottom: 0;
}

.right_sidebar .all-batch ul>a>li:hover{
    background-color: #284c79;
    color: #fff;
}

/* single page right side bar */

.recent_post .recent_post_body{
    overflow-y: scroll;
   height: 400px;
}
.recent_post .card-body {
    padding: 0;
}
.recent_post .card-header {
    padding: .5rem 10px;
    font-weight: 600;
}

.recent_post li{
    padding: 5px;
}

.recent_post li a{
    color: #000;
}
.recent_post li:hover{
    background: rgba(29, 33, 41, .2);
    color: #fff;
}